     

body {
    // min-height:100vh; 
    font-size: 15px;
    line-height: 25px; 
    background-color: #086cf9;
 } 


  .container{ 
      max-width: 1470px;  
      margin: 0 auto; 
      padding: 0 15px;  
      border: 1px solid transparent;  
      overflow: hidden;
  }     
      

   
  

  

